<h1>HOME</h1>
<ul>
{{#each productosHome}}
    <il>
        <p>title: {{this.title}}</p>
        <p>description: {{this.description}}</p>
        <p>price: {{this.price}}</p>
        <p>stock: {{this.stock}}</p>
        <p>thumbnails :{{this.thumbnails}}</p>
        <p>status: {{this.status}}</p>
        <p>category: {{this.category}}</p>
    </il>
    <br>
{{/each}}
</ul>